#header{
    @include position_fixed;
    z-index: 10000;
}
.header_inner{
    @include flex_between;
    background: rgba(116,99,99,0.1);
    backdrop-filter: blur(5px);
    padding: 1rem;

    .header_logo{
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        a{
            em{
                display: block;
                font-size: 10px;
                color: var(--black200);
            }
        }
    }
    .header_nav{

        @media(max-width:800px){
            display: none;
            
            &.show{
                display:block;
                ul{
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 68px;
                    background: rgba(116,99,99,0.1);
                    backdrop-filter: blur(5px);
                    z-index: 1000;
                    padding: 20px 0;
                    transition: all 0.5s;
                    li{
                        display: block;
                        text-align: right;

                        a{
                            display: inline-block;
                            padding: 10px;
                        }
                    }
                }
            }
            &.show + .header_nav_mobile span::before{
                width: 20px;
            }
            &.show + .header_nav_mobile span::after{
                width: 20px;
            }
        }

        ul{

            li{
                display: inline;
                a{
                    text-transform: uppercase;
                    font-size: 14px;
                    padding: 14px;
                    position: relative;
                    transition: all 0.5s;
                    &::after{
                        content: "";
                        width: calc(100% - 28px);
                        height: 1px;
                        background-color: var(--black);
                        position: absolute;
                        left: 13px;
                        bottom: 10px;
                        transform: scaleX(0);
                        transition: all 0.3s;

                    }
                    &:hover::after{
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    .header_nav_mobile{
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: none;

        @media(max-width:800px){
            display: block;
            
        }
        span{
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--black);
            margin-top: 19px;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                top: 6px;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: var(--black);
            }
            &::after{
                content: "";
                position: absolute;
                bottom: 6px;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: var(--black);
            }
        }
    }
}